<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Fruit and Friends</span>
  </div>
</md-toolbar>

<div class="mrlr-1e">
<md-chips ng-model="queries" md-autocomplete-snap
          md-transform-chip="transformChip($chip)"
          md-on-add="onAdd($chip)" md-on-remove="onRemove($chip)">
  <md-autocomplete
      md-selected-item="selectedItem"
      md-search-text="searchText"
      md-items="item in querySearch(searchText)"
      md-item-text="item.value"
      placeholder="Search">
    <strong>{{item.type}}:: </strong><span md-highlight-text="searchText">{{item.value}}</span>
  </md-autocomplete>
  <md-chip-template>
    <strong>{{$chip.type}}::</strong>
    <span> {{$chip.value}}</span>
  </md-chip-template>
</md-chips>
</div>

<!-- exact table from live demo -->
<md-card class="tbl-card">
<md-table-container>
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column >Name</th>
        <th md-column md-order-by="email"><span>Email</span></th>
        <th md-column md-order-by="favoriteFruit"><span>Favorite Fruit</span></th>
        <th md-column>Friends</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="user in users.data | limitTo: query.limit | orderBy: query.order">
        <td md-cell>{{user.name | join}}</td>
        <td md-cell>{{user.email}}</td>
        <td md-cell>{{user.favoriteFruit}}</td>
        <td md-cell>
          <ul class="mrl-n2e">
            <li ng-repeat="friend in user.friends">{{friend.name}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</md-card>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{users.count}}" md-on-paginate="getUsers" md-page-select></md-table-pagination>